body{
    background-color: black;
    background-blend-mode:lighten 0 10px 10px 10px;
    background-size: 100% 100%;
    background-attachment: fixed;
    border: solid 0.2em rgb(36, 36, 36);
    padding: 10px;
}
.bgm{
    position: absolute;
    background-color: gray;
    color: black;
}

.bgm:hover{
    background-color: rgb(9, 156, 214);
    background: linear-gradient(to right,#03effe,#026be2);
       cursor:pointer;
}
.intro{
    position: fixed;
    box-sizing: border-box;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 85%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;

}
.intro-message{
        color: peachpuff;
       z-index: 1;
}

h2{
    color: rgb(255, 255, 255);
}

.alertMessage{
color: rgb(255, 255, 255);

}

.gamePad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
        }
.wordParent{
   display: flex;
   justify-content: center;
   gap: 1rem;
   
   
}

.wordChild{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;
    background-color: antiquewhite;
}

/* .wordChild-notWord{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;
    background-color: antiquewhite;
    transform: rotateX('180');
} */

.settingsPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 1rem;

}

.settingsIcon{
    height: 2.5rem;
    width: 2.5rem;
    border: solid 1px black;
    font-size: 0.7em;
        transition: all 0.3s ease ;
    cursor: pointer;
}
.settingsIcon:hover{
    background-color: black;
    color: peachpuff;
     border: solid 1px yellow;
     transform: scale(1.5);
}

.keyborad{
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 1rem;
gap: 4px;
}

.keyboradLetter{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;
    background-color: antiquewhite;
    box-shadow: 0px 5px 10px 10px ;
    transition: all 0.3s ease ;
    cursor: pointer;
} 
.keyboradLetter:hover{
    transform: scale(1.5);
    border: solid 1px yellow;
}

.guessList{
    display: flex;
    flex-wrap: wrap;
    font-size: auto;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    }
.guessKey{
    background-color: papayawhip;
    height: 2em;
    width: 2em;
    border: dashed ;    
}
.hint{
    display: flex;
    position: absolute;
    top: 5em;
    right: 7.5em;
    flex-wrap: wrap;
color: peachpuff;
align-items: center;
gap: 0.2em;
}

.hintButton{
    height: 2em;
    width: 2em;
    background-color: peachpuff;
    color: peachpuff;
        transition: all 0.3s ease ;

}
 .hintButton:hover{
    cursor: pointer;
     transform: scale(1.5);
     border: solid 1px rgb(243, 2, 2);

 }

