body{
    background-color: rgb(3, 109, 139);
}
.gamePad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
        }
.wordParent{
   display: flex;
   justify-content: center;
   gap: 1rem;
   
}

.wordChild{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;


}
.settingsPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 1rem;

}

.settingsIcon{
    height: 2.5rem;
    width: 2.5rem;
    border: solid 1px black;
    font-size: 0.7em;
}

#pw5{
    margin: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 20%;
    box-shadow:10px 5px 5px black;
    
}
.keyborad{
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 1rem;
gap: 4px;
}

.keyboradLetter{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;
} 
    