body{
    background-color: rgb(249, 251, 252);
}
.gamePad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
        }
.wordParent{
   display: flex;
   justify-content: center;
   gap: 1rem;
   
}

.wordChild{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;


}
.settingsPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 1rem;

}

.settingsIcon{
    height: 2.5rem;
    width: 2.5rem;
    border: solid 1px black;
    font-size: 0.7em;
}
/* #settingsIcon4{
    margin: 1rem;
    height: 2rem;
    width: 6rem;
    position: relative;
    font-size: 1rem;
    
} */
#settingsIcon5{
    margin: 1rem;
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 20%;
    position: absolute;
    top: 0;
    right: 5px;
    
}
.keyborad{
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 1rem;
gap: 4px;
}

.keyboradLetter{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    font-size: 1em;
} 



.guessList{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    font-size: auto;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    
     }
.guessKey{
    background-color: aliceblue;
    height: 2em;
    width: 2em;    
}

  
